@model marathon.Models.Marathonentity

@{
    ViewData["Title"] = "Delete";
}

<h1>删除</h1>

<h3>是否决定删除</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarathonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarathonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarathonData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarathonData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarathonPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarathonPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarathonDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarathonDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarathonSponsor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarathonSponsor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.ManagerName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MarathonId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
