@model marathon.Models.Check

@{
    ViewData["Title"] = "Details";
}

<h1>详细信息</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Health)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Health)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarathonClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarathonClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marathonentity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marathonentity.MarathonName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">编辑</a> |
    <a asp-action="Index">返回</a>
</div>
