@model marathon.Models.User
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor

@{
    ViewData["Title"] = "Details";
    Layout = "Usershared";
    byte[] user;
    _httpContextAccessor.HttpContext.Session.TryGetValue("User", out user);
    List<marathon.Models.Check> checks = await ViewBag.checks;
    List<Marathon.Models.Post> posts =  ViewBag.posts;
}

<link href="~/css/img.css" rel="stylesheet" />
<link href="~/css/styles2.css" rel="stylesheet" />
<!-- Navigation-->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">@Html.DisplayFor(model => model.Name)</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="@Url.Action("GetImage","Users",new { username= Model.UserName})" alt="..." /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">个人资料</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">修改信息</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">我的赛事</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">我的发布</a></li>
        </ul>
    </div>
</nav>
<style>
    .subheading h4{
        margin-left:5vw;
        margin-top:5vh;
    }

    .niceButton3 {
        background-color: #1795bb;
        border-radius: 12px;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

        .niceButton3:hover {
            background-color: #fff;
            color: #1795bb;
            border: 1px solid #ccc;
        }
</style>
<div class="container-fluid p-0">
    <!-- 个人资料-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-2" style="margin-left:10vw;">
				<strong>欢迎你，<span class="text-primary">@Html.DisplayFor(model => model.Name)</span></strong>
            </h1>
            <div class="subheading mb-5">
                <h4 class="lead mb-3 ">登录账号：@Html.DisplayFor(model => model.UserName)</h4>
                <h4 class="lead mb-3 ">
                    性&emsp;
                    别：@Html.DisplayFor(model => model.Gender)
                </h4>
                <h4 class="lead mb-3">
                    年&emsp;
                    龄：@Html.DisplayFor(model => model.Age)
                </h4>
                <h4 class="lead mb-3">联系电话：@Html.DisplayFor(model => model.PhoneNumber)</h4>
            </div>
           
  
        </div>
    </section>
    <hr class="m-0" />
    <!-- 修改信息-->

    <section class="resume-section" id="experience" style="padding-left:20vw;">
        <div class="resume-section-content">
            <h2 class="mb-0" style="padding-left:10vw;">
				修改个人信息
			</h2>
            <link href="~/css/img.css" rel="stylesheet" />
            <div class="row">
                <div class="col-md-10" >
                    <form  asp-action=EditUser enctype="multipart/form-data" asp-route-id="@(user == null ? "" : System.Text.Encoding.Default.GetString(user))">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UserName" />
                        <div class="form-group">
                            <label asp-for="PassWord" class="control-label"></label>
                            <input asp-for="PassWord" class="form-control" />
                            <span asp-validation-for="PassWord" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" class="form-control" asp-items="ViewBag.Gender"></select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group" >
                            <label asp-for="Image" class="control-label"></label>
                            <div class="img_contain">
                                <img src="@Url.Action("GetImage","Users",new { username= Model.UserName})" alt="未上传图片" />
                            </div>
                            <input type="file" class="form-control-file" id="user-photo" name="image" accept="image/*">
                            <div id="show-picture" class="img_contain"></div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="保存" class="niceButton3" />
                        </div>
                    </form>
                </div>
            </div>
            <script>
                var getUserPhoto = document.getElementById("user-photo");
                getUserPhoto.onchange = function () {
                    var file = this.files;
                    console.log(file);
                    var reader = new FileReader();
                    reader.readAsDataURL(file[0]);
                    reader.onload = function () {
                        var image = document.createElement("img");
                        image.width = "400";
                        image.src = reader.result;
                        var showPicture = document.getElementById("show-picture");
                        showPicture.append(image);
                    };
                };
            </script>

        </div>
    </section>

    <!-- 我的赛事-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">我的赛事</h2>
            @foreach (var item in checks)
            {
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">@Html.DisplayFor(modelItem => item.Marathonentity.MarathonName)</h3>
                        <div class="subheading mb-3">@Html.DisplayFor(modelItem => item.Marathonentity.MarathonPlace)</div>
                        <p>提交材料：@Html.DisplayFor(modelItem => item.Experience)</p>
                    </div>
                    <div class="flex-shrink-0" style="margin-top:20px;text-align:center; margin-left:30px;"><span class="text-primary">
                            <br />
                            @{
                                var data = item.Marathonentity.MarathonData.ToString("yyyy-MM-dd");
                            }
                        @data</span>
                        <br />
                        <br />
						<strong>审核状态：</strong><span class="text-primary">@Html.DisplayFor(modelItem => item.CheckState)</span>
                    </div>
                </div>
            }

        </div>
    </section>
    <hr class="m-0" />
    <!-- 我的发布-->
    <section class="resume-section" id="education" ">
        <div class="resume-section-content">
            <h2 class="mb-5">我的发布</h2>
            @foreach (var item in posts)
            {
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
     
                        <p>@Html.DisplayFor(modelItem => item.Content)</p>
                    </div>
                    <div class="flex-shrink-0" style="margin-top:20px;text-align:center; margin-left:30px;">
                        <span class="text-primary">
                            <br />
                            @{
                                var data = item.Create_time.ToString("yyyy-MM-dd");
                            }
                            @data
                        </span>
                    </div>
                </div>
            }

        </div>
    </section>
    <hr class="m-0" />



</div>
<script src="~/js/scripts.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>